html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 100%; /* 960 / 960 */
  padding-top: 1.0416666666666666%; /* 10 / 960 */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #555555;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(10px, auto);
  max-width: 93.75%; /* 900 / 960 */
  margin: 0 auto 0 auto;
  grid-template-areas: "header header header header header header" "aside aside aside aside aside aside" "main main main main main main" "footer footer footer footer footer footer";
}

.clearfix {
  clear: both;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #555555;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #000000
}

/* header */

header {
  grid-area: header;
  position: relative;
  width: 100%;
  height: 70px;
  background: #ffffff;
  text-transform: uppercase;
  padding: 2% 0 2% 0;
  margin-bottom: 3%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

}

header h1 {
  font-size: 3.1em;
  font-weight: 150;
  letter-spacing: .4em;
  text-align: center;
}

/* nav */

header nav {
  float: right;
}

nav li {
  display: inline;
  list-style-type: none;
	font-weight: 300;
}

/*aside*/

aside {
  grid-area: aside;
  position: relative;
  background: url("./images/aside2.jpg");
  border-top: .5px;
  border-bottom: .5px;
  border-color: #bbbbbb;
  border-style: solid;
  padding-top: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 300px;
}

aside a {
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  font-weight: 200;
  left: 30px;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
}

/*  main image gallery */

main {
  grid-area: main;
  margin-top: 1.0416666666666666%; /* 10 / 960 */
  width: 100%;
}

main ul {
  text-align: center;
  margin-top: 1%;
  background: ;
}

main li {
  display: inline-block;
  position: relative;
  background: ;
  margin: 1% 1% 1% 1%;
  width: 45%;
}

main img {
  border: solid 1px grey;
  border-radius: .5%;
  background: #dddddd;
  padding: 2%;
  margin: 1% 1% 1% 1%;
  width: 90%;
	box-shadow: 0px 1px 1px #000;
}

main h2 {
  position: absolute;
  bottom: 5%;
  left: 6%;
  color: #000000;
  background: #aaaaaa;
  opacity: .6;
  padding: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 1px solid #666666;
}

/* About Section */

.about {
  margin: 50px 50px 100px 50px;
}

.about img {
  width: 30%;
  margin-right: 30px;
  border: 1px solid black;
  border-radius: 3%;
  float: left;
}

.theDesigner {
  font-size: 30px;
  margin-top: 50px;
  padding-top: 50px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
}

.about p {
  margin-right: 40px
}

/* footer copyright social media menu links */

footer {
  grid-area: footer;
  background: #eeeeee;
  text-align: center;
  margin: 30px 0 0 0;
}

footer .footer-columns div {
  display: inline-block;
  margin: 30px 60px 30px 60px;
  vertical-align: top;
	width: 170px;
}

footer h3 {
  border-bottom: .5px solid #aaaaaa;
  text-transform: uppercase;
	/*box-shadow: 0px 1px 1px #969c8a, 0px 2px 0px #fff;*/
}

footer ul {
  padding-top: 10px;
}

footer li {
  list-style: none;
}

footer .sienaCopyRight {
  font-style: italic;
  font-size: 12px;
  padding: 10px 0 10px 0;
  font-weight: 300;
  background: #cccccc;
}

footer nav {
  padding: 10px 0 0 0;
}
